// Palette
$whiteText:     #ffffff;
$darkText:      #333333;

// Buttons
$btn-primary-bg:                 darken(#428bca, 6.5%);
$btn-primary-border:             darken($btn-primary-bg, 5%);

$btn-success-bg:                 #5cb85c;
$btn-success-border:             darken($btn-success-bg, 5%);

$btn-info-bg:                    #5bc0de;
$btn-info-border:                darken($btn-info-bg, 5%);

$btn-warning-bg:                 #f0ad4e;
$btn-warning-border:             darken($btn-warning-bg, 5%);

$btn-danger-bg:                  #d9534f;
$btn-danger-border:              darken($btn-danger-bg, 5%);

$twitter:       #55acee;
$twitterBorder: #3E7EAE;

$github:        #333333;
$githubBorder:  #111111;
