// Palette
$whiteText:     #ffffff;
$darkText:      #333333;

// Buttons
$twitter:       #55acee;
$twitterShade:     #4C9AD4;
$twitterBorder:    #3E7EAE;

$github:        #333333;
$githubShade:   #222222;
$githubBorder:  #111111;
